<!doctype html>
<html>
<head>
    <title >MY SIGNUP PAGE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <div class="sign">
        <div class="container">
          <div class="panel">
            <h2>Sign up</h2>
            <form action="/signup" method="post">
              <p>Email</p>
              <input type="email" name ="email">
              <p>Name</p>
              <input type="text" name ="name">
              <p>Password</p>
              <input type="password" name="password">
              <p>Confirm Password</p>
              <input type="password" name="passwordConfirm">
             <br> <input type="submit" value="Sign Up"></br>
              <a href="/login">Already have an account? Login</a>
              <br><a href="/">Home</a></br>
            </form>
          </div>
        </div>
      </div>

    <!-- <hr>

    <p style= "color: white;">Already have an account? <a href="/login">Login</a></p>
    <p style= "color: white;"> Or go <a href="/">home</a>.</p> -->

    <div class="text-center">
        <p>A page by <a href="#">kennedy</a>.</p>
        <p>Visit the <a href="#">repo</a>.</p>
    </div>

</div>
</div>
</body>
</html>

<!-- <li><a href="/register">SIGN UP!</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/secret">SECRET</a></li> -->